.feedback {
  min-height: 700px;
  background-color: $secondary;
  .slider-btn{
    background-color: transparent;
    border: none;
    font-size: 25px;
    position: absolute;
    bottom: -100px;
    right: 100px;
    outline: none;
    color: $red;
    font-weight: 300;
  }
  .next-bnt{
    right:0px;
  }
}

.feedback-title {
  margin: 50px;
  padding-top: 50px;
  color: $primary;
}

.feedback-item {
  display: flex;
}

.feedback-author {
  width: 300px;

  img {
    width: 100%;
  }
}


.feedback-content-name {
  color: $red;
  margin-top: 50px;
  margin-bottom: 20px;
}

.feedback-content-text {
  width: 50%;
  color: $primary;
  font-weight: 300;
  letter-spacing: 1.4px;
}